{{ $context := . -}}
{{ $isDocsPage := or (eq .Section "docs") (and .FirstSection (eq .FirstSection.Section "docs")) -}}
{{ $isBlogPage := or (eq .Section "blog") (and .FirstSection (eq .FirstSection.Section "blog")) -}}

{{ if .Site.Params.taxonomy -}}
	{{ if .Site.Params.Taxonomy.taxonomyCloud -}}
		{{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyCloud -}}
			{{ $taxoName := lower (printf "%v" $taxo) -}}
			{{ $showTaxo := true -}}
			{{ if and $isDocsPage (eq $taxoName "tags") -}}
				{{ $showTaxo = false -}}
			{{ end -}}
			{{ if and $isBlogPage (ne $taxoName "tags") -}}
				{{ $showTaxo = false -}}
			{{ end -}}
			{{ if $showTaxo -}}
				{{ if $.Site.Params.Taxonomy.taxonomyCloudTitle -}}
					{{ $.Scratch.Set "title" (index $.Site.Params.Taxonomy.taxonomyCloudTitle $index) -}}
				{{ else -}}
					{{ $.Scratch.Set "title" (humanize $taxo) -}}
				{{ end -}}
				{{ partial "taxonomy_terms_cloud.html" (dict "context" $context "taxo" $taxo "title" ($.Scratch.Get "title")) -}}
			{{ end -}}
		{{ end }}
	{{ else -}}
		{{ range $taxo, $taxo_map := .Site.Taxonomies -}}
			{{ $taxoName := lower (printf "%v" $taxo) -}}
			{{ $showTaxo := true -}}
			{{ if and $isDocsPage (eq $taxoName "tags") -}}
				{{ $showTaxo = false -}}
			{{ end -}}
			{{ if and $isBlogPage (ne $taxoName "tags") -}}
				{{ $showTaxo = false -}}
			{{ end -}}
			{{ if $showTaxo -}}
				{{ partial "taxonomy_terms_cloud.html" (dict "context" $context "taxo" $taxo "title" (humanize $taxo)) -}}
			{{ end -}}
		{{ end }}
	{{ end -}}
{{ else -}}
	{{ range $taxo, $taxo_map := .Site.Taxonomies -}}
		{{ $taxoName := lower (printf "%v" $taxo) -}}
		{{ $showTaxo := true -}}
		{{ if and $isDocsPage (eq $taxoName "tags") -}}
			{{ $showTaxo = false -}}
		{{ end -}}
		{{ if and $isBlogPage (ne $taxoName "tags") -}}
			{{ $showTaxo = false -}}
		{{ end -}}
		{{ if $showTaxo -}}
			{{ partial "taxonomy_terms_cloud.html" (dict "context" $context "taxo" $taxo "title" (humanize $taxo)) -}}
		{{ end -}}
	{{ end }}
{{ end -}}
